<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="Taiwan Travel Planner" content="iii-AIEN06-5th">
    <title><%= locals.title ? title+' - ' : '' %>Taiwan Travel Planner</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-link.css">

</head>
<body>